.contact-form {}

.contact-form .background-form {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 3em 2em;
}

.contact-form .background-form::before {
    content: "";
    background-image: url('../img/fotos/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.contact-form .title {
    position: relative;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1em;
}

.contact-form .card {
    background: rgba(var(--primary-color-rgb), 0.6);
}

.contact-form .card .form-field {
    margin-bottom: 1em;
}

.contact-form .contact-button {
    display: block;
    width: 50%;
    color: var(--text-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color);
    border: none;
}

.contact-form .btn:hover,
.contact-form .btn:focus,
.contact-form .btn:active {
    background-color: var(--secondary-color) !important;
    text-decoration: none !important;
    border: none !important;
    outline: none !important;
    color: var(--text-color);
}

.contact-form .card-social {
    display: none;
}

.contact-form .container-contact-social-icons {
    margin-top: 1em;
}

.contact-form .contact-social-icons {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.contact-form .contact-social-icons a {
    width: 100%;
}

.contact-form .contact-social-icons .ico::before {
    width: 2em;
    height: 2em;
}

.contact-form .contact-social-icons .ico-taskrabbit-color::before {
    width: 4em;
}

@media only screen and (min-width: 1025px) {
    .contact-form .background-form {
        padding: 2em 5em 3em 5em;
    }

    .contact-form .card {
        max-width: 30em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5em;
    }

    .contact-form form .container-contact-social-icons {
        display: none;
    }

    .contact-form .card-social {
        display: block;
        background: rgba(var(--secondary-color-rgb), 0.6);
        background: rgba(var(--white-rgb), 0.6);
        text-align: justify;
        padding: 1em;
    }

    
}