.included-services {
	overflow: hidden;
	text-align: center;
	background-color: var(--white);
	margin-bottom: 6em;
}

.included-services .container-services {
	padding-top: 5em;
}

.included-services span.ico::before {
	background-color: var(--secondary-color);
	width: 70px;
	height: 70px;
}