/* Navigation menu */
.header .nav-pages .logo {
	float: left;
	height: inherit;
	overflow: hidden;
	width: 14em;
	margin-left: 0em;
}

.header .logo-title {
	font-size: inherit;
	margin: inherit;
	padding: inherit;
	display: unset;
}

.header .nav-pages .img-logo {
	width: 8em;
	margin-left: 2em;
}

.header .nav-pages .navigation-container {
	width: inherit;
	margin: 0 auto;
	height: 80px;
}

.header .nav-pages .navigation-bar {
	background-color: var(--white);
	height: 80px;
	width: 100%;
	display: flex;
}

.header .nav-pages .navigation-bar .mobile-menu {
	float: right;
	margin-right: 2em;
	height: 80px;
	display: flex;
	align-items: center;
}

.header .nav-pages .navigation-bar .navbar-toggler {
	border-color: var(--text-color);
}

.header .nav-pages .navigation-bar .navbar-toggler:focus {
	background: none;
	outline: 0;
}

.header .nav-pages .navigation-bar .navbar-toggler span {
	display: block;
	width: 30px;
	height: 2px;
	margin: 6px auto;
	background: var(--text-color);
	transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.header .nav-pages .navigation-bar .navbar-toggler:hover span,
.header .nav-pages .navigation-bar .navbar-toggler:focus span {
	background: var(--text-color);
}

/* rotate first span */
.header .nav-pages .navigation-bar .navbar-toggler[aria-expanded="true"] span:first-of-type {
	transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.header .nav-pages .navigation-bar .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
	opacity: 0;
}

/* rotate third span */
.header .nav-pages .navigation-bar .navbar-toggler[aria-expanded="true"] span:last-of-type {
	transform: rotate(-45deg) translate(5px, -5px);
}

.header .nav-pages .navigation-bar .navbar-toggler[aria-expanded="false"] span {
	transform: none;
	opacity: 1;
}

.header .nav-pages .navigation-bar .pages {
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 100%;
}

.header .nav-pages .navigation-bar .navbar-collapse {
	position: relative;
	z-index: 2;
}

.header .nav-pages .navigation-bar .navbar-collapse.collapsing {
	display: flex;
	text-align: center;
	width: 100%;
	background-color: var(--primary-color);
}

.header .nav-pages .navigation-bar .navbar-collapse.show {
	display: flex;
	width: 100%;
	text-align: center;
	background-color: var(--primary-color);
}

.header .nav-pages .navigation-bar .navbar-collapse .pages li {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	align-items: center;
}

.header .nav-pages .navigation-bar .navbar-collapse .pages li .title {
	font-size: inherit;
	margin: inherit;
	padding: inherit;
}

.header .nav-pages .navigation-bar .pages li.active,
.header .nav-pages .navigation-bar .pages li:hover {
	background-color: var(--primary-hover-color);
	border-left: solid 5px var(--secondary-color);
}

.header .nav-pages .navigation-bar .pages li a {
	color: var(--text-color);
	font-size: 16px;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	font-weight: bolder;
	text-align: center;
}

/* Desktop */
@media only screen and (min-width: 1025px) {
	.header .nav-pages .navigation-container {
		display: flex;
	}

	.header .nav-pages .navigation-bar .pages li {
		padding-left: 0.1em;
		padding-right: 0.1em;
	}

	.header .nav-pages .navigation-bar .navbar-collapse li .title {
		display: flex;
		text-align: center;
		align-items: center;
	}


	.header .nav-pages .navigation-bar .pages li.active,
	.header .nav-pages .navigation-bar .pages li:hover {
		background-color: var(--primary-color);
		border-bottom: solid 5px var(--secondary-color);
		border-left: unset;
	}

	.header .nav-pages .navigation-bar .logo {
		float: left;
		margin-left: 2em;
		width: 16em;
	}

	.header .nav-pages .navigation-bar .logo:before {
		transform: scale(0.35);
	}

	.header .nav-pages .navigation-bar .navbar-collapse {
		display: block;
	}

	.header .nav-pages .navigation-bar .pages {
		flex-direction: initial;
		text-align: center;
		list-style-type: none;
		float: right;
		margin-bottom: 0;
		height: 80px;
		width: auto;
	}

	.header .nav-pages .navigation-bar .pages li {
		list-style-type: none;
		display: flex;
		align-self: auto;
	}

	.header .nav-pages .navigation-bar .mobile-menu {
		display: none;
	}
}

/* Desktop */
@media only screen and (min-width: 1400px) {
	.header .nav-pages .navigation-bar .pages li {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}