.paragraph-text {
    overflow: hidden;
    padding-top: 3em;
    background-color: var(--white);
}

.paragraph-text .title {
    margin-bottom: 3em;
    text-align: center;
}

.paragraph-text .title strong {
    font-size: 1.75rem;
}

.paragraph-text .container-description p:last-child {
    border-bottom: solid 1px var(--grey);
    padding-bottom: 3em;
}