.services-section {
	overflow: hidden;
	text-align: center;
	background-color: var(--pijama);
}

.services-section .title {
	padding-top: 2em;
	padding-bottom: 2em;
}

.services-section .container-section .title {
	padding-top: 1em;
}
.services-section img {
	width: 10em;
	border-radius: 65%;
}

@media only screen and (min-width: 1025px) {
	.services-section .electricidad {
		margin-left: 1em;
		margin-right: 1em;
	}
}