:root {
	--primary-color: #c0efdf;
	--primary-color-rgb: 192, 239, 223;
	--primary-hover-color: #D1FFF0;
	--secondary-color: #9ce2f6;
	--secondary-color-rgb: 156, 226, 246;
	--text-color: #404040;
	--text-color-rgb: 64, 64, 64;
	--white: #fffffd;
	--white-rgb: 255, 255, 253;
	--grey: #797979;
	--pijama: #f9f9f9c5;
	--whatsapp-color: #25D366;
	--email-color: #DB4437;
	--tlf-color: #0b6bea;
	--electricity-color: #FFFF00;
	--water-color: #0b6bea;
	--temperature-color: #DB4437;
	--bath-color: #9e9e9e;
	--wood-color: #966F33;
	--paint-color: #ec0fa2;
	--kitchen-color: #ec0fa2;
	--building-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--white);
}

main {
	min-height: 40em;
}

/* Mobile fixes */
@media only screen and (max-width: 343px) {}


/* Tablets/laptops */
@media only screen and (min-width: 481px) and (max-width: 1024px) {}


/* Desktop */
@media only screen and (min-width: 1025px) {}

.text-danger {
	display: none;
}
.or {
	position: relative;
	width: 100%;
	margin: 0;
	height: 20px;
	line-height: 10px;
	text-align: center;
}

.or::before,
.or::after {
	content: '';
	position: absolute;
	width: 150px;
	height: 1px;
	top: 5px;
	background-color: var(--grey);
}

.or::before {
	left: 0;
}

.or::after {
	right: 0;
}


.pijama {
	background-color: var(--pijama);
}

.ico::before {
	content: "";
	background-color: var(--grey);
	background-size: contain;
	width: 20px;
	height: 20px;
	position: relative;
	top: 3px;
	display: inline-block;
	margin-right: 5px;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	background-repeat: no-repeat;
}

.ico-whatsapp:before {
	-o-mask-image: url(../img/svg/ico-whatsapp.svg);
	-moz-mask-image: url(../img/svg/ico-whatsapp.svg);
	-webkit-mask-image: url(../img/svg/ico-whatsapp.svg);
	mask-image: url(../img/svg/ico-whatsapp.svg);
}

.ico-whatsapp-color:before {
	background-image: url(../img/svg/ico-whatsapp-color.svg);
	background-color: transparent;
}

.ico-instagram:before {
	-o-mask-image: url(../img/svg/ico-instagram.svg);
	-moz-mask-image: url(../img/svg/ico-instagram.svg);
	-webkit-mask-image: url(../img/svg/ico-instagram.svg);
	mask-image: url(../img/svg/ico-instagram.svg);
}

.ico-instagram-color:before {
	background-image: url(../img/svg/ico-instagram-color.svg);
	background-color: transparent;
}

.ico-email:before {
	-o-mask-image: url(../img/svg/ico-email.svg);
	-moz-mask-image: url(../img/svg/ico-email.svg);
	-webkit-mask-image: url(../img/svg/ico-email.svg);
	mask-image: url(../img/svg/ico-email.svg);
}

.ico-tlf:before {
	-o-mask-image: url(../img/svg/ico-tlf.svg);
	-moz-mask-image: url(../img/svg/ico-tlf.svg);
	-webkit-mask-image: url(../img/svg/ico-tlf.svg);
	mask-image: url(../img/svg/ico-tlf.svg);
}

.ico-taskrabbit-color:before {
	background-image: url(../img/svg/ico-taskrabbit-color.svg);
	background-color: transparent;
}

.ico-wallapop-color:before {
	background-image: url(../img/svg/ico-wallapop-color.svg);
	background-color: transparent;
}

.ico-budget:before {
	-o-mask-image: url(../img/svg/ico-budget.svg);
	-moz-mask-image: url(../img/svg/ico-budget.svg);
	-webkit-mask-image: url(../img/svg/ico-budget.svg);
	mask-image: url(../img/svg/ico-budget.svg);
}

.ico-transport:before {
	-o-mask-image: url(../img/svg/ico-transport.svg);
	-moz-mask-image: url(../img/svg/ico-transport.svg);
	-webkit-mask-image: url(../img/svg/ico-transport.svg);
	mask-image: url(../img/svg/ico-transport.svg);
}

.ico-booked:before {
	-o-mask-image: url(../img/svg/ico-booked.svg);
	-moz-mask-image: url(../img/svg/ico-booked.svg);
	-webkit-mask-image: url(../img/svg/ico-booked.svg);
	mask-image: url(../img/svg/ico-booked.svg);
}

.ico-check::before {
	-o-mask-image: url(../img/svg/ico-check.svg);
	-moz-mask-image: url(../img/svg/ico-check.svg);
	-webkit-mask-image: url(../img/svg/ico-check.svg);
	mask-image: url(../img/svg/ico-check.svg);
}

.ico-electricity::before {
	-o-mask-image: url(../img/svg/ico-electricity.svg);
	-moz-mask-image: url(../img/svg/ico-electricity.svg);
	-webkit-mask-image: url(../img/svg/ico-electricity.svg);
	mask-image: url(../img/svg/ico-electricity.svg);
}

.ico-water::before {
	-o-mask-image: url(../img/svg/ico-water.svg);
	-moz-mask-image: url(../img/svg/ico-water.svg);
	-webkit-mask-image: url(../img/svg/ico-water.svg);
	mask-image: url(../img/svg/ico-water.svg);
}

.ico-temperature::before {
	-o-mask-image: url(../img/svg/ico-temperature.svg);
	-moz-mask-image: url(../img/svg/ico-temperature.svg);
	-webkit-mask-image: url(../img/svg/ico-temperature.svg);
	mask-image: url(../img/svg/ico-temperature.svg);
}

.ico-bath::before {
	-o-mask-image: url(../img/svg/ico-bath.svg);
	-moz-mask-image: url(../img/svg/ico-bath.svg);
	-webkit-mask-image: url(../img/svg/ico-bath.svg);
	mask-image: url(../img/svg/ico-bath.svg);
}

.ico-kitchen::before {
	-o-mask-image: url(../img/svg/ico-kitchen.svg);
	-moz-mask-image: url(../img/svg/ico-kitchen.svg);
	-webkit-mask-image: url(../img/svg/ico-kitchen.svg);
	mask-image: url(../img/svg/ico-kitchen.svg);
}

.ico-building::before {
	-o-mask-image: url(../img/svg/ico-building.svg);
	-moz-mask-image: url(../img/svg/ico-building.svg);
	-webkit-mask-image: url(../img/svg/ico-building.svg);
	mask-image: url(../img/svg/ico-building.svg);
}

.ico-chair::before {
	-o-mask-image: url(../img/svg/ico-chair.svg);
	-moz-mask-image: url(../img/svg/ico-chair.svg);
	-webkit-mask-image: url(../img/svg/ico-chair.svg);
	mask-image: url(../img/svg/ico-chair.svg);
}

.ico-paint::before {
	-o-mask-image: url(../img/svg/ico-paint.svg);
	-moz-mask-image: url(../img/svg/ico-paint.svg);
	-webkit-mask-image: url(../img/svg/ico-paint.svg);
	mask-image: url(../img/svg/ico-paint.svg);
}

.ico-left::before {
	-o-mask-image: url(../img/svg/ico-chevron-left.svg);
	-moz-mask-image: url(../img/svg/ico-chevron-left.svg);
	-webkit-mask-image: url(../img/svg/ico-chevron-left.svg);
	mask-image: url(../img/svg/ico-chevron-left.svg);
}

.ico-right::before {
	-o-mask-image: url(../img/svg/ico-chevron-left.svg);
	-moz-mask-image: url(../img/svg/ico-chevron-left.svg);
	-webkit-mask-image: url(../img/svg/ico-chevron-left.svg);
	mask-image: url(../img/svg/ico-chevron-left.svg);
}

.ico-right {
	transform: rotate(180deg);
}

.link-effect {
	color: inherit;
	text-decoration: none;
	background:
		linear-gradient(to right,
			rgba(var(--primary-color-rgb), 0),
			rgba(var(--secondary-color-rgb), 0)),
		linear-gradient(to right,
			rgba(var(--secondary-color-rgb), 1),
			rgba(var(--primary-color-rgb), 1));
	background-size: 100% 3px, 0 3px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: 400ms;
}

.link-effect:hover {
	background-size: 0 3px, 100% 3px;
	text-decoration: none;
}