/* mobile first */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
}

/* Navigation Social */
.header .nav-social {
	background: #011e41;
	height: 55px;
	width: 100%;
}

.header .nav-social .socialtop {
	float: right;
	margin-right: 5%;
}

.header .nav-social .socialtop .top-social a {
	padding: 13px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.header .nav-social .socialtop .top-social a:nth-child(2) {
	margin-left: 10px;
	margin-right: 10px;
}

.header .nav-social .socialtop .top-social {
	padding: 14px 15px;
}

.header .nav-social .socialtop .top-social a:hover {
	color: #ff671f;
}

/* Navigation menu */
.header .nav-pages .logo {
	float: left;
    margin-left: 1em;
    width: 35%;
    margin-right: 2em;
}

.header .nav-pages .navigation-container {
	width: 1200px;
	margin: 0 auto;
	height: 70px;
}

.header .nav-pages .navigation-bar {
	background-color: #ff671f;
	height: 70px;
	width: 100%;
	display: flex;
}

.header .nav-pages .navigation-bar .pages {
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: flex;
	list-style-type: none;
}

.header .nav-pages .navigation-bar li {
	list-style-type: none;
	padding: 0px;
	height: 24px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline;
}

.header .nav-pages .navigation-bar li a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	padding: 5px 15px;
}


@media only screen and (max-width: 480px) {
	.header .nav-social .socialtop {
		margin: auto;
		float: none;
	}

	.header .nav-social .socialtop .top-social a {
		font-size: 14px;
	}

	.header .nav-social .socialtop .top-social a .email-txt {
		display: none;
	}


}


/* Tablets/laptops */
@media only screen and (min-width: 481px) and (max-width: 1024px) {}


/* Desktop */
@media only screen and (min-width: 1025px) {
	.header .nav-pages .logo {
		float: left;
		margin-left: 5em;
		width: 25%;
		margin-right: 2em;
	}
}




.ico:before {
	content: "";
	background-color: currentColor;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: relative;
	top: 3px;
	display: inline-block;
	margin-right: 5px;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
}

.ico-whatsapp:before {
	-o-mask-image: url(../img/svg/ico-whatsapp.svg);
	-moz-mask-image: url(../img/svg/ico-whatsapp.svg);
	-webkit-mask-image: url(../img/svg/ico-whatsapp.svg);
	mask-image: url(../img/svg/ico-whatsapp.svg);
}

.ico-whatsapp:hover:before {
	background-color: #25D366;
}

.ico-email:before {
	-o-mask-image: url(../img/svg/ico-email.svg);
	-moz-mask-image: url(../img/svg/ico-email.svg);
	-webkit-mask-image: url(../img/svg/ico-email.svg);
	mask-image: url(../img/svg/ico-email.svg);
}

.ico-email:hover:before {
	background-color: #DB4437;
}

.ico-tlf:before {
	-o-mask-image: url(../img/svg/ico-tlf.svg);
	-moz-mask-image: url(../img/svg/ico-tlf.svg);
	-webkit-mask-image: url(../img/svg/ico-tlf.svg);
	mask-image: url(../img/svg/ico-tlf.svg);
}

.ico-tlf:hover:before {
	background-color: #0b6bea;
}