:root {
	--blue: #011e41;
	--white-body: #f1f1f1;
	--white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--white-body);
}

/* Navigation Social */
.header .nav-social {
	background: var(--blue);
	height: 55px;
	width: 100%;
}

.header .nav-social .socialtop {
	float: right;
	margin-right: 5%;
}

.header .nav-social .socialtop .top-social a {
	padding: 13px;
	color: var(--white);
	text-decoration: none;
	font-size: 18px;
}

.header .nav-social .socialtop .top-social a:nth-child(2) {
	margin-left: 10px;
	margin-right: 10px;
}

.header .nav-social .socialtop .top-social {
	padding: 14px 15px;
}

.header .nav-social .socialtop .top-social a:hover {
	color: #ff671f;
}

/* Navigation menu */
.header .nav-pages .logo {
	float: left;
	height: inherit;
	overflow: hidden;
}

.header .nav-pages .navigation-container {
	width: inherit;
	margin: 0 auto;
	height: 70px;
}

.header .nav-pages .navigation-bar {
	background-color: #ff671f;
	height: 70px;
	width: 100%;
	display: flex;
}


@media only screen and (max-width: 480px) {
	.header .nav-social .socialtop {
		margin: auto;
		float: none;
	}

	.header .nav-social .socialtop .top-social a {
		font-size: 14px;
	}

	.header .nav-social .socialtop .top-social a .email-txt {
		display: none;
	}

	.header .nav-pages .navigation-bar .pages {
		display: none;
	}

	.header .nav-pages .logo {
		margin-left: 0em;
	}


}


/* Tablets/laptops */
@media only screen and (min-width: 481px) and (max-width: 1024px) {}


/* Desktop */
@media only screen and (min-width: 1025px) {
	.header .nav-pages .navigation-bar .logo {
		float: left;
		margin-left: 2em;
		width: 20%;
		margin-right: 4em;
	}


	.header .nav-pages .navigation-bar .logo:before {
		transform: scale(0.35);
	}

	.header .nav-pages .navigation-bar .pages {
		padding: 1.5em 3em;
		text-align: center;
		display: flex;
		list-style-type: none;
		width: fit-content;
		float: right;
		margin-right: 2em;
	}
	
	.header .nav-pages .navigation-bar li {
		list-style-type: none;
		display: inline;
	}
	
	.header .nav-pages .navigation-bar li a {
		color: var(--white);
		font-size: 18px;
		text-decoration: none;
		padding: 5px 15px;
	}
	
}




.ico:before {
	content: "";
	background-color: currentColor;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: relative;
	top: 3px;
	display: inline-block;
	margin-right: 5px;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
}

.ico-whatsapp:before {
	-o-mask-image: url(../img/svg/ico-whatsapp.svg);
	-moz-mask-image: url(../img/svg/ico-whatsapp.svg);
	-webkit-mask-image: url(../img/svg/ico-whatsapp.svg);
	mask-image: url(../img/svg/ico-whatsapp.svg);
}

.ico-whatsapp:hover:before {
	background-color: #25D366;
}

.ico-email:before {
	-o-mask-image: url(../img/svg/ico-email.svg);
	-moz-mask-image: url(../img/svg/ico-email.svg);
	-webkit-mask-image: url(../img/svg/ico-email.svg);
	mask-image: url(../img/svg/ico-email.svg);
}

.ico-email:hover:before {
	background-color: #DB4437;
}

.ico-tlf:before {
	-o-mask-image: url(../img/svg/ico-tlf.svg);
	-moz-mask-image: url(../img/svg/ico-tlf.svg);
	-webkit-mask-image: url(../img/svg/ico-tlf.svg);
	mask-image: url(../img/svg/ico-tlf.svg);
}

.ico-tlf:hover:before {
	background-color: #0b6bea;
}

.logo:before {
	-o-mask-image: url(../img/svg/logo.svg);
	-moz-mask-image: url(../img/svg/logo.svg);
	-webkit-mask-image: url(../img/svg/logo.svg);
	mask-image: url(../img/svg/logo.svg);
	background-color: var(--white);
	height: 12em;
	width: 42em;
	right: 13em;
	top: -60px;
}